.upperCardTable{
    border-collapse: collapse;
 border-spacing: 0;
 
 width: 1220px;
 height: 350px;

}
.cardBody{

 width: 1220px;
 height: 350px;
margin-left: 40px;
margin-top: 40px;
}
.UppercardOne{
height: 260px;

}
.UppercardTwo{
background: white;
height: 80px;
}
.timeline{
width: 170px;
 font-size: 12px;
 text-align: center;
 font-weight: bold;
 font-family: sans-serif;
 cursor: pointer;
}
.about{
width: 170px;
 font-size: 12px;
 text-align: center;
 font-weight: bold;
 font-family: sans-serif;
 cursor: pointer;text-align: center;
}
.friends{
width: 170px;
 font-size: 12px;
 text-align: center;
 font-weight: bold;
 font-family: sans-serif;
 cursor: pointer;
}
.name{
width: 200px;
 font-size: 17px;
 text-align: center;
 font-weight: bold;
 font-family: sans-serif;
 cursor: pointer;

}
.photos{
width: 170px;
 font-size: 12px;
 text-align: center;
 font-weight: bold;
 font-family: sans-serif;
 cursor: pointer;
}
.videos{
width: 170px;
 font-size: 12px;
 text-align: center;
 font-weight: bold;
 font-family: sans-serif;
 cursor: pointer;
}
.others{
width: 170px;
 font-size: 12px;
 text-align: center;
 font-weight: bold;
 font-family: sans-serif;
 cursor: pointer;
}
.UppercardTwoTable{
border-collapse: collapse;
 border-spacing: 0;
 height: 80px;  
}
.coverPic{
height: 260px;
width:1220px;  
}
.profilePic{
 border: 1px solid #666666;
 border-radius: 50%;
 width: 200px;
 height: 180px;
position: absolute;
 top: 145px;
 left: 553px;
}
.holderRow{
 position: relative;
 

}
.profilePicImg{
 border-radius: 50%;
 width: 200px;
 height: 180px; 
}