<div class="cardBody">

  <div class="UppercardOne"><img class="coverPic" src="./assets/image/background_image.jpg"></div>
  <!-- <button (click) = "sampleClick()">click</button> -->
  <!-- <div *ngFor="let p of firstCardArray">{{p.name}}</div> -->
   <div class="UppercardTwo">
    <table class="UppercardTwoTable">
      <tr class="holderRow">
        <td class="timeline">Timeline</td>
        <td class="about">About</td>
        <td class="friends">Friends</td>
        <td class="name">Cally</td>
        <td class="photos">Photos</td>
        <td class="videos">Videos</td>
        <td class="others">. . .</td>
        <div class="profilePic">
          <img class="profilePicImg" src="./assets/image/profileBackground.jpg">
        </div>
      </tr>

    </table>
   

  </div> 

</div>