<div class="cardBody">

  <div class="UppercardOne"><img class="coverPic" src=""></div>
  <button (click) = "sampleClick()">click</button>
  <!-- <div class="UppercardTwo">
    <table class="UppercardTwoTable">
      <tr class="holderRow" ng-for="let p in firstCardArray">
        <td class="timeline">Timeline</td>
        <td class="about">About</td>
        <td class="friends">Friends</td>
        <td class="name">{{p.name}}</td>
        <td class="photos">Photos</td>
        <td class="videos">Videos</td>
        <td class="others">. . .</td>
        
      </tr>

    </table>
    <div class="profilePic">
      <img class="profilePicImg" src="">
    </div>

  </div> -->

</div>